<!-- https://www.jagranjosh.com/articles/du-admission-top-courses-and-programmes-at-delhi-university-1549973798-1-->

<div id="bachelorofartsba" class="select-box sub-select">
   <div class="options-container">
     
   <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Applied Psychology" name="sub_category" value="B.A. (Hons) Applied Psychology" required/>
       <label for="B.A. (Hons) Applied Psychology">B.A. (Hons) Applied Psychology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Arabic" name="sub_category" value="B.A. (Hons) Arabic" required/>
       <label for="B.A. (Hons) Arabic">B.A. (Hons) Arabic</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Bengali" name="sub_category" value="B.A. (Hons) Bengali" required/>
       <label for="B.A. (Hons) Bengali">B.A. (Hons) Bengali</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Business Economics (BBE)" name="sub_category" value="B.A. (Hons) Business Economics (BBE)" required/>
       <label for="B.A. (Hons) Business Economics (BBE)">B.A. (Hons) Business Economics (BBE)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Economics" name="sub_category" value="B.A. (Hons) Economics" required/>
       <label for="B.A. (Hons) Economics">B.A. (Hons) Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) English" name="sub_category" value="B.A. (Hons) English" required/>
       <label for="B.A. (Hons) English">B.A. (Hons) English</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) French" name="sub_category" value="B.A. (Hons) French" required/>
       <label for="B.A. (Hons) French">B.A. (Hons) French</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Geography" name="sub_category" value="B.A. (Hons) Geography" required/>
       <label for="B.A. (Hons) Geography">B.A. (Hons) Geography</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Hindi" name="sub_category" value="B.A. (Hons) Hindi" required/>
       <label for="B.A. (Hons) Hindi">B.A. (Hons) Hindi</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) German" name="sub_category" value="B.A. (Hons) German" required/>
       <label for="B.A. (Hons) German">B.A. (Hons) German</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) History " name="sub_category" value="B.A. (Hons) History " required/>
       <label for="B.A. (Hons) History ">B.A. (Hons) History </label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Patrakarita Evam Jansanchar" name="sub_category" value="B.A. (Hons) Patrakarita Evam Jansanchar" required/>
       <label for="B.A. (Hons) Patrakarita Evam Jansanchar">B.A. (Hons) Patrakarita Evam Jansanchar</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Italian" name="sub_category" value="B.A. (Hons) Italian" required/>
       <label for="B.A. (Hons) Italian">B.A. (Hons) Italian</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Journalism" name="sub_category" value="B.A. (Hons) Journalism" required/>
       <label for="B.A. (Hons) Journalism">B.A. (Hons) Journalism</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Music" name="sub_category" value="B.A. (Hons) Music" required/>
       <label for="B.A. (Hons) Music">B.A. (Hons) Music</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Persian" name="sub_category" value="B.A. (Hons) Persian" required/>
       <label for="B.A. (Hons) Persian">B.A. (Hons) Persian</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Philosophy" name="sub_category" value="B.A. (Hons) Philosophy" required/>
       <label for="B.A. (Hons) Philosophy">B.A. (Hons) Philosophy</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Political Science" name="sub_category" value="B.A. (Hons) Political Science" required/>
       <label for="B.A. (Hons) Political Science">B.A. (Hons) Political Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Psychology" name="sub_category" value="B.A. (Hons) Psychology" required/>
       <label for="B.A. (Hons) Psychology">B.A. (Hons) Psychology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Punjabi" name="sub_category" value="B.A. (Hons) Punjabi" required/>
       <label for="B.A. (Hons) Punjabi">B.A. (Hons) Punjabi</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Sanskrit" name="sub_category" value="B.A. (Hons) Sanskrit" required/>
       <label for="B.A. (Hons) Sanskrit">B.A. (Hons) Sanskrit</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Social Work" name="sub_category" value="B.A. (Hons) Social Work" required/>
       <label for="B.A. (Hons) Social Work">B.A. (Hons) Social Work</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Sociology" name="sub_category" value="B.A. (Hons) Sociology" required/>
       <label for="B.A. (Hons) Sociology">B.A. (Hons) Sociology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Spanish" name="sub_category" value="B.A. (Hons) Spanish" required/>
       <label for="B.A. (Hons) Spanish">B.A. (Hons) Spanish</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons) Urdu " name="sub_category" value="B.A. (Hons) Urdu " required/>
       <label for="B.A. (Hons) Urdu ">B.A. (Hons) Urdu </label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. (Hons.) Hindi Journalism and Mass Communication" name="sub_category" value="B.A. (Hons.) Hindi Journalism and Mass Communication" required/>
       <label for="B.A. (Hons.) Hindi Journalism and Mass Communication">B.A. (Hons.) Hindi Journalism and Mass Communication</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.A. Vocational Studies" name="sub_category" value="B.A. Vocational Studies" required/>
       <label for="B.A. Vocational Studies">B.A. Vocational Studies</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelor of Laws (LLB)" name="sub_category" value="Bachelor of Laws (LLB)" required/>
       <label for="Bachelor of Laws (LLB)">Bachelor of Laws (LL.B)</label>
     </div>
     
   </div>
   <div class="selected sub-category-selected" >
     Select BA Course Name
   </div>
   <div class="search-box">
     <input type="text" placeholder="search course name.." />
   </div>
</div>