<!-- https://www.jagranjosh.com/articles/du-admission-top-courses-and-programmes-at-delhi-university-1549973798-1-->

<div id="bachelorofsciencebsc" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="BSc. (Hons) Chemistry " name="sub_category" value="BSc. (Hons) Chemistry " required/>
       <label for="B.Sc. (Hons) Chemistry">B.Sc. (Hons) Chemistry </label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id=">B.Sc. (Hons) Computer Science" name="sub_category" value="B.Sc. (Hons) Computer Science"  required/>
       <label for=">B.Sc. (Hons) Computer Science">B.Sc. (Hons) Computer Science</label>
     </div>
     
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Mathematics" name="sub_category" value="B.Sc. (Hons) Mathematics" required />
       <label for="B.Sc. (Hons) Mathematics">B.Sc. (Hons) Mathematics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Physics" name="sub_category" value="BSc. (Hons) Physics" required/>
       <label for="B.Sc. (Hons) Physics">B.Sc. (Hons) Physics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Genl) Mathematical Science" name="sub_category" value="B.Sc. (Genl) Mathematical Science" required/>
       <label for="B.Sc. (Genl) Mathematical Science">B.Sc. (Genl) Mathematical Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Instrumentation" name="sub_category" value="B.Sc. (Hons) Instrumentation" required/>
       <label for="B.Sc. (Hons) Instrumentation">BSc. (Hons) Instrumentation</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Home Science" name="sub_category" value="B.Sc. (Hons) Home Science" required/>
       <label for="B.Sc. (Hons) Home Science">BSc. (Hons) Home Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Anthropology" name="sub_category" value="B.Sc. (Hons) Anthropology" required/>
       <label for="B.Sc. (Hons) Anthropology">BSc. (Hons) Anthropology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Audiology" name="sub_category" value="B.Sc. (Hons) Audiology" required/>
       <label for="B.Sc. (Hons) Audiology">B.Sc. (Hons) Audiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Pharmacy" name="sub_category" value="B.Sc. (Hons) Pharmacy" required/>
       <label for="B.Sc. (Hons) Pharmacy">B.Sc. (Hons) Pharmacy</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Bio-Chemistry" name="sub_category" value="B.Sc. (Hons) Bio-Chemistry" required/>
       <label for="B.Sc. (Hons) Bio-Chemistry">B.Sc. (Hons) Bio-Chemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Agriculture" name="sub_category" value="B.Sc. (Hons) Agriculture" required/>
       <label for="B.Sc. (Hons) Agriculture">B.Sc. (Hons) Agriculture</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="BSc. (Hons) Biomedical Science" name="sub_category" value="BSc. (Hons) Biomedical Science" required/>
       <label for="B.Sc. (Hons) Biomedical Science">BSc. (Hons) Biomedical Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Botany" name="sub_category" value="B.Sc. (Hons) Botany" required/>
       <label for="B.Sc. (Hons) Botany">B.Sc. (Hons) Botany</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Electronics" name="sub_category" value="B.Sc. (Hons) Electronics" required/>
       <label for="B.Sc. (Hons) Electronics">B.Sc. (Hons) Electronics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Social Work" name="sub_category" value="B.Sc. (Hons) Social Work" required/>
       <label for="B.Sc. (Hons) Social Work">B.Sc. (Hons) Social Work</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Audit and Risk Management" name="sub_category" value="B.Sc. (Hons) Audit and Risk Management" required/>
       <label for="B.Sc. (Hons) Audit and Risk Management">B.Sc. (Hons) Audit and Risk Management</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Food Technology" name="sub_category" value="B.Sc. (Hons) Food Technology" required/>
       <label for="B.Sc. (Hons) Food Technology">B.Sc. (Hons) Food Technology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Geology" name="sub_category" value="B.Sc. (Hons) Geology " required/>
       <label for="B.Sc. (Hons) Geology ">B.Sc. (Hons) Geology </label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Home Science" name="sub_category" value="B.Sc. (Hons) Home Science" required/>
       <label for="B.Sc. (Hons) Home Science">B.Sc. (Hons) Home Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Microbiology" name="sub_category" value="B.Sc. (Hons) Microbiology" required/>
       <label for="B.Sc. (Hons) Microbiology">B.Sc. (Hons) Microbiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="B.Sc. (Hons) Statistics" required/>
       <label for="B.Sc. (Hons) Statistics">B.Sc. (Hons) Statistics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Polymer Sciences" name="sub_category" value="B.Sc. (Hons) Polymer Sciences" required/>
       <label for="B.Sc. (Hons) Polymer Sciences">B.Sc. (Hons) Polymer Sciences</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons) Zoology" name="sub_category" value="B.Sc. (Hons) Zoology" required/>
       <label for="B.Sc. (Hons) Zoology">B.Sc. (Hons) Zoology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="B.Sc. (Hons) Economics" required/>
       <label for="tutorials">B.Sc. (Hons) Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (Hons.) Biological Sciences" name="sub_category" value="B.Sc. (Hons.) Biological Sciences" required/>
       <label for="B.Sc. (Hons.) Biological Sciences">B.Sc. (Hons.) Biological Sciencess</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. (MT) Radiography" name="sub_category" value="B.Sc. (MT) Radiography" required/>
       <label for="B.Sc. (MT) Radiography">B.Sc. (MT) Radiography</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc (PEHES)" name="sub_category" value="B.Sc (PEHES)" required/>
       <label for="B.Sc (PEHES)">B.Sc (PEHES)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Applied Life Sciences" name="sub_category" value="B.Sc. Applied Life Sciences" required/>
       <label for="B.Sc. Applied Life Sciences">B.Sc. Applied Life Sciences</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Applied Life Sciences with Agro-Chemical & Pest Management " name="sub_category" value="B.Sc. Applied Life Sciences with Agro-Chemical & Pest Management " required/>
       <label for="B.Sc. Applied Life Sciences with Agro-Chemical & Pest Management ">B.Sc. Applied Life Sciences with Agro-Chemical & Pest Management </label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Applied Science" name="sub_category" value="B.Sc. Applied Science" required/>
       <label for="B.Sc. Applied Science">B.Sc. Applied Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Applied Physical Science" name="sub_category" value="B.Sc. Applied Physical Science" required/>
       <label for="B.Sc. Applied Physical Science">B.Sc. Applied Physical Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Applied Physical Science (Analytical Chemistry)" name="sub_category" value="B.Sc. Applied Physical Science (Analytical Chemistry)" required/>
       <label for="B.Sc. Applied Physical Science (Analytical Chemistry)">B.Sc. Applied Physical Science (Analytical Chemistry)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Applied Physical Sciences (Industrial Chemistry)" name="sub_category" value="B.Sc. Applied Physical Sciences (Industrial Chemistry)" required/>
       <label for="B.Sc. Applied Physical Sciences (Industrial Chemistry)">B.Sc. Applied Physical Sciences (Industrial Chemistry)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Home Science" name="sub_category" value="B.Sc. Home Science" required/>
       <label for="B.Sc. Home Science">B.Sc. Home Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id=">B.Sc. (Hons) IT" name="sub_category" value="B.Sc. IT"  required/>
       <label for=">B.Sc. (Hons) IT">B.Sc. IT</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Industrial Chemistry" name="sub_category" value="B.Sc. Industrial Chemistry" required/>
       <label for="B.Sc. Industrial Chemistry">B.Sc. Industrial Chemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="B.Sc. (Hons) Economics" required/>
       <label for="B.Sc. (Hons) Economics">B.Sc. (Hons) Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Life Sciences" name="sub_category" value="B.Sc. Life Sciences" required/>
       <label for="B.Sc. Life Sciences">B.Sc. Life Sciencess</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="B.Sc. Physical Sciences " required/>
       <label for="B.Sc. Physical Sciences ">B.Sc. Physical Sciences </label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Physical Education & Sports Sciences" name="sub_category" value="B.Sc. Physical Education & Sports Sciences" required/>
       <label for="B.Sc. Physical Education & Sports Sciences">B.Sc. Physical Education & Sports Sciences</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Physical Science Computer Science" name="sub_category" value="B.Sc. Physical Science Computer Science" required/>
       <label for="B.Sc. Physical Science Computer Science">B.Sc. Physical Science Computer Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Physical Science with Chemistry" name="sub_category" value="B.Sc. Physical Science with Chemistry" required/>
       <label for="B.Sc. Physical Science with Chemistry">B.Sc. Physical Science with Chemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Physical Science with Computer" name="sub_category" value="B.Sc. Physical Science with Computer" required/>
       <label for="B.Sc. Physical Science with Computer">B.Sc. Physical Science with Computer</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Sc. Animations" name="sub_category" value="B.Sc. Animations" required/>
       <label for="B.Sc. Animations">B.Sc. Animations</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelor of Elementary Education" name="sub_category" value="Bachelor of Elementary Education" required/>
       <label for="Bachelor of Elementary Education">Bachelor of Elementary Education</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelor of Business Studies" name="sub_category" value="Bachelor of Business Studies" required/>
       <label for="Bachelor of Business Studies">Bachelor of Business Studies</label>
     </div>
     
     <div class="option">
       <input type="radio" class="radio" id="Bachelor of Financial & Investment Analysis" name="sub_category" value="Bachelor of Financial & Investment Analysis" required/>
       <label for="Bachelor of Financial & Investment Analysis">Bachelor of Financial & Investment Analysis</label>
     </div>

   </div>
   <div class="selected sub-category-selected">
     Select B.Sc Course Name
   </div>
   <div class="search-box">
     <input type="text" placeholder="search course name.." />
   </div>
</div>