
<div id="pre-primary" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="Pre-Nursery" name="sub_category" value="Pre-Nursery" required/>
       <label for="Pre-Nursery">Pre-Nursery</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Nursery" name="sub_category" value="Nursery" required/>
       <label for="Nursery">Nursery</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="LKG (Lower Kindergarten)" name="sub_category" value="LKG (Lower Kindergarten)" required/>
       <label for="LKG (Lower Kindergarten)">LKG (Lower Kindergarten)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="UKG (Upper Kindergarten)" name="sub_category" value="UKG (Upper Kindergarten)" required/>
       <label for="UKG (Upper Kindergarten)">UKG (Upper Kindergarten)</label>
     </div>
    
   </div>
   <div class="selected sub-category-selected">
     Select pre-primary type
   </div>
   <div class="search-box">
     <input type="text" placeholder="search class..." />
   </div>
</div>