
<div id="secondary" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="6th Class" name="sub_category" value="6th Class" required/>
       <label for="6th Class">6th Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="7th Class" name="sub_category" value="7th Class" required/>
       <label for="7th Class">7th Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="8th Class" name="sub_category" value="8th Class" required/>
       <label for="8th Class">8th Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="8th Class" name="sub_category" value="9th Class" required/>
       <label for="9th Class">9th Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="10th Class" name="sub_category" value="10th Class" required/>
       <label for="10th Class">10th Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="11th Class -Arts" name="sub_category" value="11th Class -Arts" required/>
       <label for="11th Class -Arts">11th Class -Arts</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="11th Class -Commerce" name="sub_category" value="11th Class -Commerce" required/>
       <label for="11th Class -Commerce">11th Class -Commerce</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="11th Class -Science" name="sub_category" value="11th Class -Science" required/>
       <label for="11th Class -Science">11th Class -Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="12th Class -Arts" name="sub_category" value="12th Class -Arts" required/>
       <label for="12th Class -Arts">12th Class -Arts</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="12th Class -Commerce" name="sub_category" value="12th Class -Commerce" required/>
       <label for="12th Class -Commerce">12th Class -Commerce</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="12th Class -Science" name="sub_category" value="12th Class -Science" required/>
       <label for="12th Class -Science">12th Class -Science</label>
     </div>
   </div>
   <div class="selected sub-category-selected">
     Select Secondary Class
   </div>
   <div class="search-box">
     <input type="text" placeholder="search class..." />
   </div>
</div>