 
<%- include("../partials/header") -%>
<link rel="stylesheet" href="/css/client/about.css">  
<title>About us | myBooks</title>
<meta name="description" content="Hello !! Im ankit -developer of this site, currently studying in Delhi university. Im so much passionate about my these coding skills and I love coding and web designing as much as I can do. Hope you liked my creation. Please leave a feedback to make this site to its next level.">
<meta name="keywords" content="aboutus mybooks, mybooks about us, about mybooks, about">
</head>    
<!--<style>
    footer{
      text-align: center;
      background: none;
      position: fixed;
      bottom:0px;
      width: 100%;
    }
    @media(max-height:900px){
         footer{
          text-align: center;
          background: none;
          position: relative;
          bottom:-15px;
          width: 100%;
        }
    }

</style>-->

<body >
    <div class="nanobar my-class" id="my-id" style="position: fixed;">
      <div class="bar"></div>
    </div>
    <nav class=".navbar">
        <div id="navbar">
            <ul id="navbar-ul1">
                <li id="icon"><i class="fas fa-book-reader"></i></li>
                <div id="navigate">
                    <li><a href="/home">Home</a></li>
                    <li class="nav-active"><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/mybooks">Your Books</a></li>

                    <form id="searchbar" method="get" action="/search">
                        <input type="text" name="search_item" placeholder="search books..." required>
                        <button><i class="fas fa-search"></i> Search</button>
                    </form>
                    
                    <form class="course-sel">
                        <button class="dropdown"> <i class="fas fa-caret-right"></i> Books category</button>
                        <%- include("../drop-links/links") -%>
                    </form>

                </div>  
                <ul id="navbar-ul2">
                    
                    <div id="hide-access">
                        <notauth>
                            <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                            <button onclick="location.href='/login'">Login</button>
                        </notauth>
                        <auth>
                            <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </auth>
                    </div>
                    <button onclick="location.href='/upload'"><i class="fas fa-plus"></i> Upload</button>
                </ul>
            </ul> 
        </div>
    </nav>
    <div class="top_bar">
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="msg-btn">
            <i onclick="location.href='/upload'" class="fas fa-upload""></i>
        </div>
        <div class="nav-search-icon">
            <i class="fas fa-search"></i>
        </div>
        <form class="nav-search-input" method="get" action="/search">
            <input type="text" name="search_item" placeholder="search books..." required>
            <button><i class="fas fa-search"></i></button>
        </form>
        
        <div class="nav-icon">
            <i class="fas fa-book-reader"></i>
        </div>
    </div>
    
    <div class="side-bar">
        <div class="close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="nav-upload-btn">
            <button onclick="location.href='/upload'"><i class="fas fa-plus"></i> Upload</button>
        </div>
        <div class="menu">
            <div class="item">
                <a href="/home"><i class="fas fa-house-user"></i> Home</a>
            </div>
            <div class="item side-active">
                <a href="/about"><i class="fas fa-info-circle"></i> About us</a>
            </div>
            <div class="item">
                <a href="/contact"><i class="fas fa-envelope"></i> Contact us</a>
            </div>
            <div class="item">
                <a href="/mybooks"><i class="fas fa-book-open"></i> Your books</a>
            </div>
            <div class="item">
                <a class="sub-btn"><i class="fas fa-book"></i> Books Category<i class="fas fa-angle-right dropdown-bar"></i></a>
                <%- include("../drop-links/sidebar_links") -%>
            </div>
            <div class="side-login">
                <notauth>
                  <button onclick="location.href='/login'">Login</button>
                  <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                </notauth>
                <auth>
                    <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </auth>
            </div>
        </div>
    </div>
    <main_body class="main_about">
        <section id="about-section">
            <div id="about">
               <div id="about-content">
                   <h2>About us</h2>
                   <p>Hello !! Im ankit -developer of this site, currently studying in <a href="https://du.ac.in/">Delhi university.</a> Im so much passionate about my these coding skills and I love coding and web designing as much as I can do. Hope you liked my creation. Please leave a feedback to make this site to its next level.</p>
               </div>
            </div>
            <div id="feature-section" align="center">
                <h2 class="feature-h">features</h2>
                <br>
                <div class="feature">
                    <div class="f-1 ft">
                        <img src="/images/feature-1.png" alt="">
                        <p>You can search and read your book from drive. </p>
                    </div>
                    <div class="f-2 ft">
                        <img src="/images/feature-2.png" style="transform:scale(0.9)" alt="">
                        <p>Download your book directly from google drive. </p>
                    </div>
                    <div class="f-3 ft">
                        <img src="/images/feature-3.png" alt="">
                        <p>You can post your reviews about books. </p>
                    </div>
                    <div class="f-4 ft">
                        <img src="/images/feature-4.png" alt="">
                        <p>Get credits and earn with our site by uploading books. </p>
                    </div>
                    
                </div>
            </div>
            <div id="carousel">
                <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="false">
                <h2 class="feature-h">features</h2>
        
                    <div class="carousel-indicators" >
                      <button type="button" style="background-color:white" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" style="background-color:white" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" style="background-color:white"data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" style="background-color:white"data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="background:none;" >
                        <img class="testimonial-image" src="/images/feature-1.png" >
                        <p class="testimonial-text">You can search and read your book from drive. </p>
        
                      </div>
                      <div class="carousel-item" style="background:none">
                        <img class="testimonial-image" src="/images/feature-2.png" style="transform:scale(0.9)">
                        <p class="testimonial-text">Download your book directly from google drive. </p>
        
                      </div>
                      <div class="carousel-item" style="background:none">
                        <img class="testimonial-image" src="/images/feature-3.png" >
                        <p class="testimonial-text">You can post your reviews about books. </p>
                      </div>
                      <div class="carousel-item" style="background:none">
                        <img class="testimonial-image" src="/images/feature-4.png">
                        <p class="testimonial-text">Get credits and earn with our site by uploading books. </p>
                      </div>
                    </div>
                    <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" style="filter:none"  aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" style="filter:none" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div id="help">
                <button class="font-design-b" id="f-btn" onclick="showfeed()"><i class="fas fa-pen"></i> feedback</button>
                <div>
                  <form class="submitfd" id="feedback">
                      <p class="font-design-p">Help us to imrove our site</p>
                      <hr>
                      <textarea name="text" id="feedtxt" cols="6" rows="6" placeholder="Type here" required></textarea>
                      <button class="font-design-b feed-btn" id="fd" type="submit">submit</button>
                      <hr>
                      <br>
                  </form>
                </div>
            </div>
        </section>
        
    </main_body>

    <footer>
        <div>
            <notauth>
               <button onclick="location.href='/login'">Login</button>
               <button onclick="location.href='/signup'">SignUp</button>
               <button onclick="location.href='/auth/google'" class="google"><i class="fab fa-google"></i> SignIn</button>
            </notauth>
        </div>
  <%- include("../partials/footer") -%>      
    
        