<%- include("../partials/header") -%>
<link rel="stylesheet" href="/css/client/login.css">
<title>Reset account | myBooks</title>
</head>    
<!--<style>
    footer{
      text-align: center;
      background: none;
      position: fixed;
      bottom:0px;
      width: 100%;
    }
     @media(min-height:775px) and (max-width:310px){
        footer{
          text-align: center;
          background: none;
          position: relative;
          bottom:-15px;
          width: 100%;
        }
    }
   
    @media(min-width:1272px) and (max-height:710px){
        footer{
          text-align: center;
          background: none;
          position: relative;
          bottom:-15px;
          width: 100%;
        }
    }
    @media(max-width:1272px) and (max-height:780px){
        footer{
          text-align: center;
          background: none;
          position: relative;
          bottom:-15px;
          width: 100%;
        }
    }
   
</style>-->
<body>
    <br>

    <section id="login-section">
        <div id="login">
            <div id="log-img1">
              <i class="fas fa-key fa-10x"></i>
            </div>
           <div id="login-form">
                <h1 class="font-design-h"><i class="fas fa-redo-alt"></i> Reset</h1>
                <hr>
                <p id="login-msg"><%=message%></p>
                <form id="log-form" class="reset-form" action="/reset" method="post">
                  <input name="username" type="email" id="reset_emailInput" placeholder="Enter your email" value="<%=username%>" required>
                  <button type="button" onclick="sendotp()" id="otp-btn">Send OTP</button>
                  <input name="otp" id="reset_opt" type="Number" placeholder="Enter your OTP" value="" required disabled>
                  <input name="newpassword" id="reset_password" type="text" placeholder="Enter your new password" value="" required disabled>
                  <button class="font-design-b" id="reset-send" disabled>Reset</button>
                    
                </form>
            </div>
            <div id="log-img2">
                <i class="fas fa-unlock-alt fa-10x"></i>
            </div>
        </div>
        
    </section>
    <br><br>
    <section id="help">
        <button class="font-design-b" id="f-btn" onclick="showfeed()"><i class="fas fa-pen"></i> feedback</button>
        <div>
          <form class="submitfd" id="feedback">
              <p class="font-design-p">Help us to imrove our site</p>
              <hr>
              <textarea name="text" id="feedtxt" cols="6" rows="6" placeholder="Type here" required></textarea>
              <button class="font-design-b feed-btn" id="fd" type="submit">submit</button>
              <hr>
              <br>
          </form>
        </div>
    </section>
   
   <footer>
    <div id="copyrights">
      <p id="ownername">© 2021 | Designed and developed by ankit</p>
      <div class="tc_policies">
        <p><a href="/about">About us</a><a href="/contact">Contact us</a><a href="/upload">Upload book</a><a href="/privacy" target="_blank">Privacy policy</a><a href="/dmca" target="_blank">DMCA</a><a href="/admin" target="_blank">Admin's panel</a><a href="/t&c" target="_blank">T&C</a></p>
      </div>
    </div>
    </footer>
</body>
<script data-ad-client="ca-pub-8089999240146269" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
<script src="/scripts/index.js" charset="utf-8"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

</html>   
