
<%- include("header") -%>   
 <title>404 Error | myBooks</title>
</head>   

    <br><br>
    <section id="success-section">
        <button id="playme" onclick="playerror()" style="display:none"></button>
        <div id="success">
           <i class="fas fa-bug"></i>
           <br>
           <p>404 !! Error occured. </p>
        </div>
    </section>
    <br>
 <script>
    $(".adsteraAds").css("display","none")
</script>   
    
        