    <div style="transform:scale(0.9);" class="adsteraAds" id="container-51fe2e96c8f38b505accab9b34487033"></div>

    <p id="getintouch">Get In touch</p>
    <div id="footer-links">
        <ul>
            <li><a  href="https://twitter.com/myBooks181" ><i class="fab fa-twitter"></i></a></li>
            <li><a  href="https://www.facebook.com/profile.php?id=100075204635961" ><i class="fab fa-facebook "></i></a></li>
            <li><a  href="https://www.linkedin.com/in/mybooks-a-leading-site-99b135226" ><i class="fab fa-linkedin-in "></i></a></li>
        </ul>
    </div>
    <p id="dmca"><a href="//www.dmca.com/Protection/Status.aspx?ID=0eb8792a-80cc-4fe9-8dfe-5346184c4b11" title="DMCA.com Protection Status" class="dmca-badge" > <img src ="https://images.dmca.com/Badges/dmca-badge-w150-5x1-02.png?ID=0eb8792a-80cc-4fe9-8dfe-5346184c4b11"   alt="DMCA.com Protection Status" /></a></p>
    <div id="copyrights">
      <p id="ownername">© 2021-2022 | Designed and developed by ankit</p>
      <div class="tc_policies">
        <p><a href="/api">API</a><a href="/about" class="home_link_for_admins">About us</a><a href="/contact">Contact us</a><a href="/upload">Upload book</a><a href="/privacy" target="_blank" >Privacy policy</a><a href="/dmca" target="_blank" >DMCA</a><a href="/admin" >Admin's panel</a><a href="/t&c" target="_blank">T&C</a></p>
      </div>
    </div>
</footer>
</body>
<script data-ad-client="ca-pub-8089999240146269" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
<script src="/scripts/index.js" charset="utf-8"></script>
<script src="/scripts/partials/client.js" charset="utf-8"></script>
<script src="/scripts/partials/worker.js" charset="utf-8"></script>
<script src="/scripts/partials/select.js" charset="utf-8"></script>
<script src="/scripts/partials/sidebar.js" charset="utf-8"></script>
<script src="/scripts/partials/top-bar.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/611aad22d6e7610a49b07839/1fd838kej';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=615cad4ba5292d0019cb2d82&product=sop' async='async'></script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6172b435e8760800126460d2&product=sop' async='async'></script>
</html>