<%- include("../partials/header") -%>   
 <link rel="stylesheet" href="/css/webapps/api.css">
 <title>API | myBooks</title>
 <meta name="description" content="Books API from mybooks">
 <meta name="keywords" content="api books-api">

<body>
    
    <section id="api-section" align="center">
        <div class="apiHeading">
            <h1 class="apiHeading">Free Books API from <a href="http://mybooks-free.com" target="_blank">MyBooks</a></h1>
            <h5>Easily get and use book files anywhere for free</h5>
        </div>
        <div class="apiToggler" align="center">
            <h2><i class="fas fa-key"></i> API</h2>
            <div id="wrapper" align="center">		
                <div class="switch">
                    <% if(api_user!="not_a_user") {%>
                        <% if(api_user.api_status=="enabled"){ %>
                            <input id="toggle-2" class="toggle toggle-round-flat" type="checkbox" onchange="toggle_api()" checked/>
                            <label for="toggle-2" style="font-weight:bold"></label>
                        <% } else { %>
                            <input id="toggle-2" class="toggle toggle-round-flat" type="checkbox" onchange="toggle_api()" />
                            <label for="toggle-2" style="font-weight:bold"></label>
                        <% } %>
                    <% } else {%>
                        <input id="toggle-2" class="toggle toggle-round-flat" type="checkbox" onchange="toggle_api()" />
                        <label for="toggle-2" style="font-weight:bold"></label>
                    <% } %>
                </div> 
            </div>
        </div>
        <div class="apikey">
                <% if(api_user!="not_a_user") {%>
                    <% if(api_user.api_status=="enabled"){ %>
                        <code class="api_key_status"><%=api_user.api_key%><span><i onclick="copy_apikey('<%=api_user.api_key%>')" class="fas fa-link"></i></span></code>            
                    <% } else { %>
                        <code class="api_key_status">enable the api to get its access</code>
                    <% } %>
                <% } else {%>
                    <code class="api_key_status">please login to our site to get your api key</code>
                <% } %>
               
        </div>
    
    </section>
    <section>
    <br>
       <h4 align="center" style="color:#d4d4e0;margin-bottom:0px">&nbsp;&nbsp;<i class="fas fa-book"></i>&nbsp; API Documentation</h4>
       <div class="documentation">
           <p class="doc_exp">
<span>Authorizing requests and identifying your application</span>

Every request your application sends to the Books API needs to identify your application to our platform. 

To identify your application, using the API key.
STEP 1 . Login into the site
STEP 2 . Now after getting login, click over enable button
STEP 3 . Copy your API KEY from here and embed it into the given code.

<span>How to use parameters ?</span>

ell, currently we are offering books for about more than 100 courses and growing day by day. Here are the following parameters list you can use with your get requests.

<button type="button" class="btn btn-success" onclick="location.href='https://drive.google.com/file/d/1Kchz_QRHATF1z5la1txmR6o2QLVjc8L3/view?usp=sharing'">Download list of parameters</button> </p>

        <div class="multi_code">
           <br>
               <div class="code_block">
                    <i class="fas fa-copy copy_code"></i>
                    <p class="code_outerp">HTTP GET <code class="code_txt">
https://mybooks-free.com/api/{API_KEY}/{parameters}</code></p>
                </div>

                <br>

                <div class="code_block">
                <i class="fas fa-copy copy_code"></i>
                <p class="code_outerp">AJAX REQUEST <code class="code_txt">
const getbooks = {"async": true,"crossDomain": true,
    "url": "https://mybooks-free.com/api/getbooks",
    "method": "GET",
    "headers": {
        "parameter": {parameters},
        "api-key": {API_KEY}
    }
}
$.ajax(getbooks).done(function (response) {
    console.log(response);
});</code></p>
                </div>
           </div>
           
       </div>
       
    </section>
    <div id="snackbar"></div>
    <footer>
<script src="/scripts/webapps/api.js"></script>       
<%- include("../partials/footer") -%>      
    
