<div class="dropdown-content">
    <div class="drop-links">
        <a href="/books?searchtag=Bachelor of Arts (BA)"><i class="fas fa-external-link-alt"></i> Bachelor of Arts (BA)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Bachelor of Science (B.Sc)"><i class="fas fa-external-link-alt"></i> Bachelor of Science (B.Sc)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Bachelor of Commerce (B.Com)"><i class="fas fa-external-link-alt"></i> Bachelor of Commerce (B.Com)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Bachelors of Business Administration (BBA)"><i class="fas fa-external-link-alt"></i> Bachelors of Business Administration (BBA)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Bachelors of Computer Application (BCA)"><i class="fas fa-external-link-alt"></i> Bachelors of Computer Application (BCA)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Bachelor of Education (B.Ed)"><i class="fas fa-external-link-alt"></i> Bachelor of Education (B.Ed)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Bachelor of Technology (B.Tech)"><i class="fas fa-external-link-alt"></i> Bachelor of Technology (B.Tech)</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Post Graduation or Master Degree"><i class="fas fa-external-link-alt"></i> Post Graduation or Master Degree</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Competetive Exams"><i class="fas fa-external-link-alt"></i> Competetive Exams</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Diploma Courses"><i class="fas fa-external-link-alt"></i> Diploma Courses</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Novel or Fiction"><i class="fas fa-external-link-alt"></i> Novel or Fictional Books</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Secondary Education Class 6th-12th"><i class="fas fa-external-link-alt"></i> Secondary Education Class 6th-12th</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Primary Education Class 1st-5th"><i class="fas fa-external-link-alt"></i> Primary Education Class 1st-5th</a>
    </div>
    <div class="drop-links">
        <a href="/books?searchtag=Pre Primary Education"><i class="fas fa-external-link-alt"></i> Pre Primary Education</a>
    </div>
</div>