<div class="sub-menu">
    <a href="/books?searchtag=Bachelor of Arts (BA)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelor of Arts (BA)</a>
    <a href="/books?searchtag=Bachelor of Science (B.Sc)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelor of Science (B.Sc)</a>
    <a href="/books?searchtag=Bachelor of Commerce (B.Com)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelor of Commerce (B.Com)</a>
    <a href="/books?searchtag=Bachelors of Business Administration (BBA)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelors of Business Administration (BBA)</a>
    <a href="/books?searchtag=Bachelors of Computer Application (BCA)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelors of Computer Application (BCA)</a>
    <a href="/books?searchtag=Bachelor of Education (B.Ed)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelor of Education (B.Ed)</a>
    <a href="/books?searchtag=Bachelor of Technology (B.Tech)" class="sub-item"><i class="fas fa-external-link-alt"></i>Bachelor of Technology (B.Tech)</a>
    <a href="/books?searchtag=Post Graduation or Master Degree" class="sub-item"><i class="fas fa-external-link-alt"></i>Post Graduation or Master Degree</a>
    <a href="/books?searchtag=Competetive Exams" class="sub-item"><i class="fas fa-external-link-alt"></i>Competetive Exams</a>
    <a href="/books?searchtag=Diploma Courses" class="sub-item"><i class="fas fa-external-link-alt"></i>Diploma Courses</a>
    <a href="/books?searchtag=Novel or Fiction" class="sub-item"><i class="fas fa-external-link-alt"></i>Novel or Fictional Books</a>
    <a href="/books?searchtag=Secondary Education Class 6th-12th" class="sub-item"><i class="fas fa-external-link-alt"></i>Secondary Education Class 6th-12th</a>
    <a href="/books?searchtag=Primary Education Class 1st-5th" class="sub-item"><i class="fas fa-external-link-alt"></i>Primary Education Class 1st-5th</a>
    <a href="/books?searchtag=Pre Primary Education" class="sub-item"><i class="fas fa-external-link-alt"></i>Pre Primary Education</a>
</div>