<!-- https://www.jagranjosh.com/articles/du-admission-top-courses-and-programmes-at-delhi-university-1549973798-1-->

<div id="bachelorofcommercebcom" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="B.Com" name="sub_category" value="B.Com"  />
       <label for="B.Com">B.Com</label>
     </div>
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select B.Com Course Name
   </div>
   <div class="search-box">
     <input type="text" placeholder="Start Typing..." />
   </div>
</div>