
<div id="bacheloroftechnologybtech" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Aerospace Engineering)" name="sub_category" value="B.Tech. (Aerospace Engineering)" />
       <label for="B.Tech. (Aerospace Engineering)">B.Tech. (Aerospace Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Agricultural and Food Engineering)" name="sub_category" value="B.Tech. (Agricultural and Food Engineering)" />
       <label for="B.Tech. (Agricultural and Food Engineering)">B.Tech. (Agricultural and Food Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Agricultural Engineering)" name="sub_category" value="B.Tech. (Agricultural Engineering)" />
       <label for="B.Tech. (Agricultural Engineering)">B.Tech. (Agricultural Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Agricultural Information Technology)" name="sub_category" value="B.Tech. (Agricultural Information Technology)" />
       <label for="B.Tech. (Agricultural Information Technology)">B.Tech. (Agricultural Information Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Apparel Production Management)" name="sub_category" value="B.Tech. (Apparel Production Management)" />
       <label for="B.Tech. (Apparel Production Management)">B.Tech. (Apparel Production Management)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Applied Electronics and Instrumentation)" name="sub_category" value="B.Tech. (Applied Electronics and Instrumentation)" />
       <label for="B.Tech. (Applied Electronics and Instrumentation)">B.Tech. (Applied Electronics and Instrumentation)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Applied Mechanics)" name="sub_category" value="B.Tech. (Applied Mechanics)" />
       <label for="B.Tech. (Applied Mechanics)">B.Tech. (Applied Mechanics)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Architectural Engineering)" name="sub_category" value="B.Tech. (Architectural Engineering)" />
       <label for="B.Tech. (Architectural Engineering)">B.Tech. (Architectural Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Automobile Engineering)" name="sub_category" value="B.Tech. (Automobile Engineering)" />
       <label for="B.Tech. (Automobile Engineering)">B.Tech. (Automobile Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Automotive Design Engineering)" name="sub_category" value="B.Tech. (Automotive Design Engineering)" />
       <label for="B.Tech. (Automotive Design Engineering)">B.Tech. (Automotive Design Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Avionics Engineering)" name="sub_category" value="B.Tech. (Avionics Engineering)" />
       <label for="B.Tech. (Avionics Engineering)">B.Tech. (Avionics Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Biochemical Engineering)" name="sub_category" value="B.Tech. (Biochemical Engineering)" />
       <label for="B.Tech. (Biochemical Engineering)">B.Tech. (Biochemical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Bioinformatics)" name="sub_category" value="B.Tech. (Bioinformatics)" />
       <label for="B.Tech. (Bioinformatics)">B.Tech. (Bioinformatics)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Biomedical Engineering)" name="sub_category" value="B.Tech. (Biomedical Engineering)" />
       <label for="B.Tech. (Biomedical Engineering)">B.Tech. (Biomedical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Biomedical Instrumentation)" name="sub_category" value="B.Tech. (Biomedical Instrumentation)" />
       <label for="B.Tech. (Biomedical Instrumentation)">B.Tech. (Biomedical Instrumentation)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Bioprocess Technology)" name="sub_category" value="B.Tech. (Bioprocess Technology)" />
       <label for="B.Tech. (Bioprocess Technology)">B.Tech. (Bioprocess Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Biotechnology and Biochemical Engineering)" name="sub_category" value="B.Tech. (Biotechnology and Biochemical Engineering)" />
       <label for="B.Tech. (Biotechnology and Biochemical Engineering)">B.Tech. (Biotechnology and Biochemical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Biotechnology)" name="sub_category" value="B.Tech. (Biotechnology)" />
       <label for="B.Tech. (Biotechnology)">B.Tech. (Biotechnology)"</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Ceramic Technology)" name="sub_category" value="B.Tech. (Ceramic Technology)" />
       <label for="B.Tech. (Ceramic Technology)">B.Tech. (Ceramic Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Ceramic and Cement Technology)" name="sub_category" value="B.Tech. (Ceramic and Cement Technology)" />
       <label for="B.Tech. (Ceramic and Cement Technology)">B.Tech. (Ceramic and Cement Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Chemical Engineering)" name="sub_category" value="B.Tech. (Chemical Engineering)" />
       <label for="B.Tech. (Chemical Engineering)">B.Tech. (Chemical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Chemical Science and Technology)" name="sub_category" value="B.Tech. (Chemical Science and Technology)" />
       <label for="B.Tech. (Chemical Science and Technology)">B.Tech. (Chemical Science and Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Civil Engineering)" name="sub_category" value="B.Tech. (Civil Engineering)" />
       <label for="B.Tech. (Civil Engineering)">B.Tech. (Civil Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Civil Infrastructure Engineering)" name="sub_category" value="B.Tech. (Civil Infrastructure Engineering)" />
       <label for="B.Tech. (Civil Infrastructure Engineering)">B.Tech. (Civil Infrastructure Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Cloud Computing & Virtualization Technology)" name="sub_category" value="B.Tech. (Cloud Computing & Virtualization Technology)" />
       <label for="B.Tech. (Cloud Computing & Virtualization Technology)">B.Tech. (Cloud Computing & Virtualization Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Computer and Information Science)" name="sub_category" value="B.Tech. (Computer and Information Science)" />
       <label for="B.Tech. (Computer and Information Science)">B.Tech. (Computer and Information Science)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Computer Engineering)" name="sub_category" value="B.Tech. (Computer Engineering)" />
       <label for="B.Tech. (Computer Engineering)">B.Tech. (Computer Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Computer Science and Engineering)" name="sub_category" value="B.Tech. (Computer Science and Engineering)" />
       <label for="B.Tech. (Computer Science and Engineering)">B.Tech. (Computer Science and Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="B.Tech. (Electrical and Electronics Engineering)" />
       <label for="B.Tech. (Electrical and Electronics Engineering)">B.Tech. (Electrical and Electronics Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Electrical Engineering)" name="sub_category" value="B.Tech. (Electrical Engineering)" />
       <label for="B.Tech. (Electrical Engineering)">B.Tech. (Electrical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Electronics and Communication Engineering)" name="sub_category" value="B.Tech. (Electronics and Communication Engineering)" />
       <label for="B.Tech. (Electronics and Communication Engineering)">B.Tech. (Electronics and Communication Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Electronics and Instrumentation Engineering)" name="sub_category" value="B.Tech. (Electronics and Instrumentation Engineering)" />
       <label for="B.Tech. (Electronics and Instrumentation Engineering)">B.Tech. (Electronics and Instrumentation Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Electronics and Nanotechnology)" name="sub_category" value="B.Tech. (Electronics and Nanotechnology)" />
       <label for="B.Tech. (Electronics and Nanotechnology)">B.Tech. (Electronics and Nanotechnology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Environmental Engineering)" name="sub_category" value="B.Tech. (Environmental Engineering)" />
       <label for="B.Tech. (Environmental Engineering)">B.Tech. (Environmental Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Food Process Engineering)" name="sub_category" value="B.Tech. (Food Process Engineering)" />
       <label for="B.Tech. (Food Process Engineering)">B.Tech. (Food Process Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Food Technology)" name="sub_category" value="B.Tech. (Food Technology)" />
       <label for="B.Tech. (Food Technology)">B.Tech. (Food Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Genetic Engineering)" name="sub_category" value="B.Tech. (Genetic Engineering)" />
       <label for="B.Tech. (Genetic Engineering)">B.Tech. (Genetic Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Humanities and Management)" name="sub_category" value="B.Tech. (Humanities and Management)" />
       <label for="B.Tech. (Humanities and Management)">B.Tech. (Humanities and Management)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Industrial Biotechnology)" name="sub_category" value="B.Tech. (Industrial Biotechnology)" />
       <label for="B.Tech. (Industrial Biotechnology)">B.Tech. (Industrial Biotechnology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Industrial Engineering and Management)" name="sub_category" value="B.Tech. (Industrial Engineering and Management)" />
       <label for="B.Tech. (Industrial Engineering and Management)">B.Tech. (Industrial Engineering and Management)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Industrial Engineering)" name="sub_category" value="B.Tech. (Industrial Engineering)" />
       <label for="B.Tech. (Industrial Engineering)">B.Tech. (Industrial Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Information and Communication Technology)" name="sub_category" value="B.Tech. (Information and Communication Technology)" />
       <label for="B.Tech. (Information and Communication Technology)">B.Tech. (Information and Communication Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Information Technology)" name="sub_category" value="B.Tech. (Information Technology)" />
       <label for="B.Tech. (Information Technology)">B.Tech. (Information Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Infrastructure Engineering)" name="sub_category" value="B.Tech. (Infrastructure Engineering)" />
       <label for="B.Tech. (Infrastructure Engineering)">B.Tech. (Infrastructure Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Manufacturing Technology)" name="sub_category" value="B.Tech. (Manufacturing Technology)" />
       <label for="B.Tech. (Manufacturing Technology)">B.Tech. (Manufacturing Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Marine Engineering)" name="sub_category" value="B.Tech. (Marine Engineering)" />
       <label for="B.Tech. (Marine Engineering)">B.Tech. (Marine Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Material Science Engineering)" name="sub_category" value="B.Tech. (Material Science Engineering)" />
       <label for="B.Tech. (Material Science Engineering)">B.Tech. (Material Science Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Mathematics and Computing)" name="sub_category" value="B.Tech. (Mathematics and Computing)" />
       <label for="B.Tech. (Mathematics and Computing)">B.Tech. (Mathematics and Computing)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Mechanical Engineering)" name="sub_category" value="B.Tech. (Mechanical Engineering)" />
       <label for="B.Tech. (Mechanical Engineering)">B.Tech. (Mechanical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Mechatronics Engineering)" name="sub_category" value="B.Tech. (Mechatronics Engineering)" />
       <label for="B.Tech. (Mechatronics Engineering)">B.Tech. (Mechatronics Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Medical Electronics)" name="sub_category" value="B.Tech. (Medical Electronics)" />
       <label for="B.Tech. (Medical Electronics)">B.Tech. (Medical Electronics)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Metallurgical Engineering)" name="sub_category" value="B.Tech. (Metallurgical Engineering)" />
       <label for="B.Tech. (Metallurgical Engineering)">B.Tech. (Metallurgical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Mineral Engineering)" name="sub_category" value="B.Tech. (Mineral Engineering)" />
       <label for="B.Tech. (Mineral Engineering)">B.Tech. (Mineral Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Mining Engineering)" name="sub_category" value="B.Tech. (Mining Engineering)" />
       <label for="B.Tech. (Mining Engineering)">B.Tech. (Mining Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Nanotechnology)" name="sub_category" value="B.Tech. (Nanotechnology)" />
       <label for="B.Tech. (Nanotechnology)">B.Tech. (Nanotechnology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Nuclear Power Technology)" name="sub_category" value="B.Tech. (Nuclear Power Technology)" />
       <label for="B.Tech. (Nuclear Power Technology)">B.Tech. (Nuclear Power Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Nuclear Science & Engineering)" name="sub_category" value="B.Tech. (Nuclear Science & Engineering)" />
       <label for="B.Tech. (Nuclear Science & Engineering)">B.Tech. (Nuclear Science & Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Petrochemical Engineering)" name="sub_category" value="B.Tech. (Petrochemical Engineering)" />
       <label for="B.Tech. (Petrochemical Engineering)">B.Tech. (Petrochemical Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Software Engineering)" name="sub_category" value="B.Tech. (Software Engineering)" />
       <label for="B.Tech. (Software Engineering)">B.Tech. (Software Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Space Technology)" name="sub_category" value="B.Tech. (Space Technology)" />
       <label for="B.Tech. (Space Technology)">B.Tech. (Space Technology)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Telecommunication Engineering)" name="sub_category" value="B.Tech. (Telecommunication Engineering)" />
       <label for="B.Tech. (Telecommunication Engineering)">B.Tech. (Telecommunication Engineering)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="B.Tech. (Textile Engineering)" name="sub_category" value="B.Tech. (Textile Engineering)" />
       <label for="B.Tech. (Textile Engineering)">B.Tech. (Textile Engineering)</label>
     </div>
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select Btech Course Name
   </div>
   <div class="search-box">
     <input type="text" placeholder="search course name.." />
   </div>
</div>