
<div id="competetiveexams" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="IIT JAM" name="sub_category" value="IIT JAM" />
       <label for="IIT JAM">IIT JAM</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="GATE" name="sub_category" value="GATE" />
       <label for="GATE">GATE</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="JEE Main" name="sub_category" value="JEE Main" />
       <label for="JEE Main">JEE Main</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="JEE Advanced" name="sub_category" value="JEE Advanced" />
       <label for="JEE Advanced">JEE Advanced</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="AIIMS" name="sub_category" value="AIIMS" />
       <label for="AIIMS">AIIMS</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="JIPMER" name="sub_category" value="JIPMER" />
       <label for="JIPMER">JIPMER</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="NEET" name="sub_category" value="NEET" />
       <label for="NEET">NEET</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="BITSAT" name="sub_category" value="BITSAT" />
       <label for="BITSAT">BITSAT</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="NEET" name="sub_category" value="NEET" />
       <label for="NEET">NEET</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="CSIR NET" name="sub_category" value="CSIR NET" />
       <label for="CSIR NET">CSIR NET</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="CSIR NET" name="sub_category" value="UGC NET" />
       <label for="UGC NET">UGC NET</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Civil Services Exam (UPSC)" name="sub_category" value="Civil Services Exam (UPSC)" />
       <label for="Civil Services Exam (UPSC)">Civil Services Exam (UPSC)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC CGL" name="sub_category" value="SSC CGL" />
       <label for="SSC CGL">SSC CGL</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SBI PO" name="sub_category" value="SBI PO" />
       <label for="SBI PO">SBI PO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="IBPS PO" />
       <label for="IBPS PO">IBPS PO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC CHSL" name="sub_category" value="SSC CHSL" />
       <label for="SSC CHSL">SSC CHSL</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="NDA and NA" name="sub_category" value="NDA and NA" />
       <label for="NDA and NA">NDA and NA</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SBI Clerk" name="sub_category" value="SBI Clerk" />
       <label for="SBI Clerk">SBI Clerk</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="IBPS Clerk" name="sub_category" value="IBPS Clerk" />
       <label for="IBPS Clerk">IBPS Clerk</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="CDS" name="sub_category" value="CDS" />
       <label for="CDS">CDS</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="IBPS RRB" name="sub_category" value="IBPS RRB" />
       <label for="IBPS RRB">IBPS RRB</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SBI SO" name="sub_category" value="SBI SO" />
       <label for="SBI SO">SBI SO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="RBI Assistant" name="sub_category" value="RBI Assistant" />
       <label for="RBI Assistant">RBI Assistant</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="IBPS SO" name="sub_category" value="IBPS SO" />
       <label for="IBPS SO">IBPS SO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="RBI Grade B Officer" name="sub_category" value="RBI Grade B Officer" />
       <label for="RBI Grade B Officer">RBI Grade B Officer</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC GD" name="sub_category" value="SSC GD" />
       <label for="SSC GD">SSC GD</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC Stenographer" name="sub_category" value="SSC Stenographer" />
       <label for="SSC Stenographer">SSC Stenographer</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="CTET" name="sub_category" value="CTET" />
       <label for="CTET">CTET</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC CPO" name="sub_category" value="SSC CPO" />
       <label for="SSC CPO">SSC CPO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC JE" name="sub_category" value="SSC JE" />
       <label for="SSC JE">SSC JE</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC JHT" name="sub_category" value="SSC JHT" />
       <label for="SSC JHT">SSC JHT</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC MTS" name="sub_category" value="SSC MTS" />
       <label for="SSC MTS">SSC MTS</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="SSC Scientific Assistant" name="sub_category" value="SSC Scientific Assistant" />
       <label for="SSC Scientific Assistant">SSC Scientific Assistant</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="RRB ALP" name="sub_category" value="RRB ALP" />
       <label for="RRB ALP">RRB ALP</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="RRB JE|SSE" name="sub_category" value="RRB JE|SSE" />
       <label for="RRB JE|SSE">RRB JE|SSE</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="RRB NTPC" name="sub_category" value="RRB NTPC" />
       <label for="RRB NTPC">RRB NTPC</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="RRC Group D" name="sub_category" value="RRC Group D" />
       <label for="RRC Group D">RRC Group D</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="DRDO" />
       <label for="DRDO">DRDO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="ISRO" name="sub_category" value="ISRO" />
       <label for="ISRO">ISRO</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="ESIC" name="sub_category" value="ESIC" />
       <label for="ESIC">ESICT</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="FCI" name="sub_category" value="FCI" />
       <label for="FCI">FCI</label>
     </div>
     
     
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select Competetive Exam name
   </div>
   <div class="search-box">
     <input type="text" placeholder="search exam name.." />
   </div>
</div>