
<div id="diploma" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Medical Laboratory Technology [DMLT]" name="sub_category" value="Diploma in Medical Laboratory Technology [DMLT]" />
       <label for="Diploma in Medical Laboratory Technology [DMLT]">Diploma in Medical Laboratory Technology [DMLT]</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in French" name="sub_category" value="Diploma in French" />
       <label for="Diploma in French">Diploma in French</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in German" name="sub_category" value="Diploma in German" />
       <label for="Diploma in German">Diploma in German</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Acting" name="sub_category" value="Diploma in Acting" />
       <label for="Diploma in Acting">Diploma in Acting</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Mechanical Engineering" name="sub_category" value="Diploma in Mechanical Engineering" />
       <label for="Diploma in Mechanical Engineering">Diploma in Mechanical Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="Diploma in Civil Engineering" />
       <label for="Diploma in Civil Engineering">Diploma in Civil Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Electrical Engineering" name="sub_category" value="Diploma in Electrical Engineering" />
       <label for="Diploma in Electrical Engineering">Diploma in Electrical Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Electronics and Communication Engineering" name="sub_category" value="Diploma in Electronics and Communication Engineering" />
       <label for="Diploma in Electronics and Communication Engineering">Diploma in Electronics and Communication Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma In Cyber Law" name="sub_category" value="Diploma In Cyber Law" />
       <label for="Diploma In Cyber Law">Diploma In Cyber Law</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Taxation Law [DTL]" name="sub_category" value="Diploma in Taxation Law [DTL]" />
       <label for="Diploma in Taxation Law [DTL]">Diploma in Taxation Law [DTL]</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Labour Law" name="sub_category" value="Diploma in Labour Law" />
       <label for="Diploma in Labour Law">Diploma in Labour Law</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Child Health [DCH]" name="sub_category" value="Diploma in Child Health [DCH]" />
       <label for="Diploma in Child Health [DCH]">Diploma in Child Health [DCH]</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Gynaecology and Obstetrics [DGO]" name="sub_category" value="Diploma in Gynaecology and Obstetrics [DGO]" />
       <label for="Diploma in Gynaecology and Obstetrics [DGO]">Diploma in Gynaecology and Obstetrics [DGO]</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Interior Design" name="sub_category" value="Diploma in Interior Design" />
       <label for="Diploma in Interior Design">Diploma in Interior Design</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Fashion Design" name="sub_category" value="Diploma in Fashion Design" />
       <label for="Diploma in Fashion Design">Diploma in Fashion Design</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Textile Design" name="sub_category" value="Diploma in Textile Design" />
       <label for="Diploma in Textile Design">Diploma in Textile Design</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Yoga" name="sub_category" value="Diploma in Yoga" />
       <label for="Diploma in Yoga">Diploma in Yoga</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in food production" name="sub_category" value="Diploma in food production" />
       <label for="Diploma in food production">Diploma in food production</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Nautical Science" name="sub_category" value="Diploma in Nautical Science" />
       <label for="Diploma in Nautical Science">Diploma in Nautical Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Elementary Education" name="sub_category" value="Diploma in Elementary Education" />
       <label for="Diploma in Elementary Education">Diploma in Elementary Education</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in education D.Ed" name="sub_category" value="Diploma in education D.Ed" />
       <label for="Diploma in education D.Ed">Diploma in education D.Ed</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Early Childhood Education" name="sub_category" value="Diploma in Early Childhood Education" />
       <label for="Diploma in Early Childhood Education">Diploma in Early Childhood Education</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Nursery Teacher Training [NTT]" name="sub_category" value="Diploma in Nursery Teacher Training [NTT]" />
       <label for="Diploma in Nursery Teacher Training [NTT]">Diploma in Nursery Teacher Training [NTT]</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Journalism" name="sub_category" value="Diploma in Journalism" />
       <label for="Diploma in Journalism">Diploma in Journalism</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Hotel Management" name="sub_category" value="Diploma in Hotel Management" />
       <label for="Diploma in Hotel Management">Diploma in Hotel Management</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Web Designing" name="sub_category" value="Diploma in Web Designing" />
       <label for="Diploma in Web Designing">Diploma in Web Designing</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Graphic Design" name="sub_category" value="Diploma in Graphic Design" />
       <label for="Diploma in Graphic Design">Diploma in Graphic Design</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Information Technology" name="sub_category" value="Diploma in Information Technology" />
       <label for="Diploma in Information Technology">Diploma in Information Technology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Food & Beverage Service" name="sub_category" value="Diploma in Food & Beverage Service" />
       <label for="Diploma in Food & Beverage Service">Diploma in Food & Beverage Service</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Photography" name="sub_category" value="Diploma in Photography" />
       <label for="Diploma in Photography">Diploma in Photography</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Accounting and Finance" name="sub_category" value="Diploma in Accounting and Finance" />
       <label for="Diploma in Accounting and Finance">Diploma in Accounting and Finance</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Diploma in Banking & Finance" name="sub_category" value="Diploma in Banking & Finance" />
       <label for="Diploma in Banking & Finance">Diploma in Banking & Finance</label>
     </div>
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select Diploma Course Name
   </div>
   <div class="search-box">
     <input type="text" placeholder="search course name.." />
   </div>
</div>