
<div id="novelorfiction" class="select-box sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="" />
       <label for=""></label>
     </div>
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select Novel or Fiction types 
   </div>
   <div class="search-box">
     <input type="text" placeholder="Start Typing..." />
   </div>
</div>