<div id="others" class="select-box sub-select" >
   <div class="options-container">
     <div class="option">
       <input id="other-course" type="radio" class="radio" name="sub_category" value="Others"  hidden/>
     </div>
   </div>
</div>