
<div id="postgraduationormasterdegree" class="select-box sub-select">
   <div class="options-container">
     
     <div class="option">
       <input type="radio" class="radio" id="MA Political Science" name="sub_category" value="MA Political Science" />
       <label for="MA Political Science">MA Political Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Psychology" name="sub_category" value="MA Psychology" />
       <label for="MA Psychology">MA Psychology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Sociology" name="sub_category" value="MA Sociology" />
       <label for="MA Sociology">MA Sociology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Geography" name="sub_category" value="MA Geography" />
       <label for="MA Geography">MA Geography</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Library & Information Science" name="sub_category" value="MA Library & Information Science" />
       <label for="MA Library & Information Science">MA Library & Information Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Economics" name="sub_category" value="MA Economics" />
       <label for="MA Economics">MA Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA History" name="sub_category" value="MA History" />
       <label for="MA History">MA History</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Communication Studies" name="sub_category" value="MA Communication Studies" />
       <label for="MA Communication Studies">MA Communication Studies</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Archaeology" name="sub_category" value="MA Archaeology" />
       <label for="MA Archaeology">MA Archaeology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Religious Studies" name="sub_category" value="MA Religious Studies" />
       <label for="MA Religious Studies">MA Religious Studies</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="MA Literature" name="sub_category" value="MA Literature" />
       <label for="MA Literature">MA Literature</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Arts (M.A. (SWDS))" name="sub_category" value="Master of Arts (M.A. (SWDS))" />
       <label for="Master of Arts (M.A. (SWDS))">Master of Arts (M.A. (SWDS))</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Arts in Management (M.A.M)" name="sub_category" value="Master of Arts in Management (M.A.M)" />
       <label for="Master of Arts in Management (M.A.M)">Master of Arts in Management (M.A.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Arts in Personal Management (M.A.P.M)" name="sub_category" value="Master of Arts in Personal Management (M.A.P.M)" />
       <label for="Master of Arts in Personal Management (M.A.P.M)">Master of Arts in Personal Management (M.A.P.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Arts (M.A.S.L.P)" name="sub_category" value="Master of Arts (M.A.S.L.P)" />
       <label for="Master of Arts (M.A.S.L.P)">Master of Arts (M.A.S.L.P)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Audiology & Speech Language Pathology (M.A.S.L.P)" name="sub_category" value="Master of Audiology & Speech Language Pathology (M.A.S.L.P)" />
       <label for="Master of Audiology & Speech Language Pathology (M.A.S.L.P)">Master of Audiology & Speech Language Pathology (M.A.S.L.P)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Arts in Theatre & Television (M.A.T.T)" name="sub_category" value="Master of Arts in Theatre & Television (M.A.T.T)" />
       <label for="Master of Arts in Theatre & Television (M.A.T.T)">Master of Arts in Theatre & Television (M.A.T.T)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Architecture (M.Arch)" name="sub_category" value="Master of Architecture (M.Arch)" />
       <label for="Master of Architecture (M.Arch)">Master of Architecture (M.Arch)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Business Administration (M.B.A)" name="sub_category" value="Master of Business Administration (M.B.A)" />
       <label for="Master of Business Administration (M.B.A)">Master of Business Administration (M.B.A)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Business Economics (M.B.E)" name="sub_category" value="Master of Business Economics (M.B.E)" />
       <label for="Master of Business Economics (M.B.E)">Master of Business Economics (M.B.E)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Business Laws (M.B.L)" name="sub_category" value="Master of Business Laws (M.B.L)" />
       <label for="Master of Business Laws (M.B.L)">Master of Business Laws (M.B.L)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Business Management (M.B.M)" name="sub_category" value="Master of Business Management (M.B.M)" />
       <label for="Master of Business Management (M.B.M)">Master of Business Management (M.B.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Business Studies (M.B.S)" name="sub_category" value="Master of Business Studies (M.B.S)" />
       <label for="Master of Business Studies (M.B.S)">Master of Business Studies (M.B.S)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Computer Applications (M.C.A)" name="sub_category" value="Master of Computer Applications (M.C.A)" />
       <label for="Master of Computer Applications (M.C.A)">Master of Computer Applications (M.C.A)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Communication & Journalism (M.C.J)" name="sub_category" value="Master of Communication & Journalism (M.C.J)" />
       <label for="Master of Communication & Journalism (M.C.J)">Master of Communication & Journalism (M.C.J)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Comparative Laws (M.C.L)" name="sub_category" value="Master of Comparative Laws (M.C.L)" />
       <label for="Master of Comparative Laws (M.C.L)">Master of Comparative Laws (M.C.L)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Computer Management (M.C.M)" name="sub_category" value="Master of Computer Management (M.C.M)" />
       <label for="Master of Computer Management (M.C.M)">Master of Computer Management (M.C.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Corporate Secretaryship (M.C.S)" name="sub_category" value="Master of Corporate Secretaryship (M.C.S)" />
       <label for="Master of Corporate Secretaryship (M.C.S)">Master of Corporate Secretaryship (M.C.S)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Commerce (M.Com)" name="sub_category" value="Master of Commerce (M.Com)" />
       <label for="Master of Commerce (M.Com)">Master of Commerce (M.Com)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Management Development Programme (M.D.P)" name="sub_category" value="Management Development Programme (M.D.P)" />
       <label for="Management Development Programme (M.D.P)">Management Development Programme (M.D.P)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Dental Surgery (M.D.S)" name="sub_category" value="Master of Dental Surgery (M.D.S)" />
       <label for="Master of Dental Surgery (M.D.S)">Master of Dental Surgery (M.D.S)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Design (M.Des)" name="sub_category" value="Master of Design (M.Des)" />
       <label for="Master of Design (M.Des)">Master of Design (M.Des)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Engineering (M.E)" name="sub_category" value="Master of Engineering (M.E)" />
       <label for="Master of Engineering (M.E)">Master of Engineering (M.E)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Education (M.Ed)" name="sub_category" value="Master of Education (M.Ed)" />
       <label for="Master of Education (M.Ed)">Master of Education (M.Ed)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Fine Arts (M.F.A)" name="sub_category" value="Master of Fine Arts (M.F.A)" />
       <label for="Master of Fine Arts (M.F.A)">Master of Fine Arts (M.F.A)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Journalism (M.J)" name="sub_category" value="Master of Journalism (M.J)" />
       <label for="Master of Journalism (M.J)">Master of Journalism (M.J)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Law (LL.M)" name="sub_category" value="Master of Law (LL.M)" />
       <label for="Master of Law (LL.M)">Master of Law (LL.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Laws (M.L)" name="sub_category" value="Master of Laws (M.L)" />
       <label for="Master of Laws (M.L)">Master of Laws (M.L)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Library and Information Science (M.L.I.Sc)" name="sub_category" value="Master of Library and Information Science (M.L.I.Sc)" />
       <label for="Master of Library and Information Science (M.L.I.Sc)">Master of Library and Information Science (M.L.I.Sc)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Labour Management (M.L.M)" name="sub_category" value="Master of Labour Management (M.L.M)" />
       <label for="Master of Labour Management (M.L.M)">Master of Labour Management (M.L.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Library Science (M.L.Sc)" name="sub_category" value="Master of Library Science (M.L.Sc)" />
       <label for="Master of Library Science (M.L.Sc)">Master of Library Science (M.L.Sc)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Marketing Management (M.M.M)" name="sub_category" value="Master of Marketing Management (M.M.M)" />
       <label for="Master of Marketing Management (M.M.M)">Master of Marketing Management (M.M.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master Of Physical Education (M.P.Ed)" name="sub_category" value="Master Of Physical Education (M.P.Ed)" />
       <label for="Master Of Physical Education (M.P.Ed)">Master Of Physical Education (M.P.Ed)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Performance Management (M.P.M)" name="sub_category" value="Master of Performance Management (M.P.M)" />
       <label for="Master of Performance Management (M.P.M)">Master of Performance Management (M.P.M)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Philosophy (M.Phil)" name="sub_category" value="Master of Philosophy (M.Phil)" />
       <label for="Master of Philosophy (M.Phil)">Master of Philosophy (M.Phil)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Rehabilitation Science (M.R.Sc)" name="sub_category" value="Master of Rehabilitation Science (M.R.Sc)" />
       <label for="Master of Rehabilitation Science (M.R.Sc)">Master of Rehabilitation Science (M.R.Sc)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Master of Science (M.S)" name="sub_category" value="Master of Science (M.S)" />
       <label for="Master of Science (M.S)">Master of Science (M.S)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech CAD/ CAM" name="sub_category" value="M.Tech CAD/ CAM" />
       <label for="M.Tech CAD/ CAM">M.Tech CAD/ CAM</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Chemical Engineering" name="sub_category" value="M.Tech Chemical Engineering" />
       <label for="M.Tech Chemical Engineering">M.Tech Chemical Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="M.Tech Civil Engineering" />
       <label for="M.Tech Civil Engineering">M.Tech Civil Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Communication Systems" name="sub_category" value="M.Tech Communication Systems" />
       <label for="M.Tech Communication Systems">M.Tech Communication Systems</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Computer Engineering" name="sub_category" value="M.Tech Computer Engineering" />
       <label for="M.Tech Computer Engineering">M.Tech Computer Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Computer Science and Engineering" name="sub_category" value="M.Tech Computer Science and Engineering" />
       <label for="M.Tech Computer Science and Engineering">M.Tech Computer Science and Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Digital Communication" name="sub_category" value="M.Tech Digital Communication" />
       <label for="M.Tech Digital Communication">M.Tech Digital Communication</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Electrical and Electronics Engineering" name="sub_category" value="M.Tech Electrical and Electronics Engineering" />
       <label for="M.Tech Electrical and Electronics Engineering">M.Tech Electrical and Electronics Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Electrical Engineering" name="sub_category" value="M.Tech Electrical Engineering" />
       <label for="M.Tech Electrical Engineering">M.Tech Electrical Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Electrical Engineering" name="sub_category" value="M.Tech Electrical Engineering" />
       <label for="M.Tech Electrical Engineering">M.Tech Electrical Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Electronics & Telecommunications Engineering" name="sub_category" value="M.Tech Electronics & Telecommunications Engineering" />
       <label for="M.Tech Electronics & Telecommunications Engineering">M.Tech Electronics & Telecommunications Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Electronics and Communication Engineering" name="sub_category" value="M.Tech Electronics and Communication Engineering" />
       <label for="M.Tech Electronics and Communication Engineering">M.Tech Electronics and Communication Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Embedded Systems" name="sub_category" value="M.Tech Embedded Systems" />
       <label for="M.Tech Embedded Systems">M.Tech Embedded Systems</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Engineering Design" name="sub_category" value="M.Tech Engineering Design" />
       <label for="M.Tech Engineering Design">M.Tech Engineering Design</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Environmental Engineering" name="sub_category" value="M.Tech Environmental Engineering" />
       <label for="M.Tech Environmental Engineering">M.Tech Environmental Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Machine Design" name="sub_category" value="M.Tech Machine Design" />
       <label for="M.Tech Machine Design">M.Tech Machine Design</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Manufacturing Science & Engineering" name="sub_category" value="M.Tech Manufacturing Science & Engineering" />
       <label for="M.Tech Manufacturing Science & Engineering">M.Tech Manufacturing Science & Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Mechanical Engineering" name="sub_category" value="M.Tech Mechanical Engineering" />
       <label for="M.Tech Mechanical Engineering">M.Tech Mechanical Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Nanotechnology" name="sub_category" value="M.Tech Nanotechnology" />
       <label for="M.Tech Nanotechnology">M.Tech Nanotechnology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Power Electronics and Drives" name="sub_category" value="M.Tech Power Electronics and Drives" />
       <label for="M.Tech Power Electronics and Drives">M.Tech Power Electronics and Drives</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Power Electronics" name="sub_category" value="M.Tech Power Electronics" />
       <label for="M.Tech Power Electronics">M.Tech Power Electronics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Power System Engineering" name="sub_category" value="M.Tech Power System Engineering" />
       <label for="M.Tech Power System Engineering">M.Tech Power System Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Process Engineering" name="sub_category" value="M.Tech Process Engineering" />
       <label for="M.Tech Process Engineering">M.Tech Process Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Production Engineering" name="sub_category" value="M.Tech Production Engineering" />
       <label for="M.Tech Production Engineering">M.Tech Production Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Software Engineering" name="sub_category" value="M.Tech Software Engineering" />
       <label for="M.Tech Software Engineering">M.Tech Software Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Structural Engineering" name="sub_category" value="M.Tech Structural Engineering" />
       <label for="M.Tech Structural Engineering">M.Tech Structural Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Transportation Engineering" name="sub_category" value="M.Tech Transportation Engineering" />
       <label for="M.Tech Transportation Engineering">M.Tech Transportation Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Tech Thermal Engineering" name="sub_category" value="M.Tech Thermal Engineering" />
       <label for="M.Tech Thermal Engineering">M.Tech Thermal Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Actuarial Science" name="sub_category" value="M.Sc. Actuarial Science" />
       <label for="M.Sc. Actuarial Science">M.Sc. Actuarial Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Actuarial Science" name="sub_category" value="M.Sc. Advanced Biochemistry" />
       <label for="M.Sc. Advanced Biochemistry">M.Sc. Advanced Biochemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Advertising Management & Public Relations" name="sub_category" value="M.Sc. Advertising Management & Public Relations" />
       <label for="M.Sc. Advertising Management & Public Relations">M.Sc. Advertising Management & Public Relations</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Biotechnology" name="sub_category" value="M.Sc. Agricultural Biotechnology" />
       <label for="M.Sc. Agricultural Biotechnology">M.Sc. Agricultural Biotechnology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Economics and Business Management" name="sub_category" value="M.Sc. Agricultural Economics and Business Management" />
       <label for="M.Sc. Agricultural Economics and Business Management">M.Sc. Agricultural Economics and Business Management</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Economics" name="sub_category" value="M.Sc. Agricultural Economics" />
       <label for="M.Sc. Agricultural Economics">M.Sc. Agricultural Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Economics" name="sub_category" value="M.Sc. Agricultural Economics" />
       <label for="M.Sc. Agricultural Economics">M.Sc. Agricultural Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Engineering" name="sub_category" value="M.Sc. Agricultural Engineering" />
       <label for="M.Sc. Agricultural Engineering">M.Sc. Agricultural Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Extension Education" name="sub_category" value="M.Sc. Agricultural Extension Education" />
       <label for="M.Sc. Agricultural Extension Education">M.Sc. Agricultural Extension Education</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Microbiology" name="sub_category" value="M.Sc. Agricultural Microbiology" />
       <label for="M.Sc. Agricultural Microbiology">M.Sc. Agricultural Microbiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Physics" name="sub_category" value="M.Sc. Agricultural Physics" />
       <label for="M.Sc. Agricultural Physics">M.Sc. Agricultural Physics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Statistics" name="sub_category" value="M.Sc. Agricultural Statistics" />
       <label for="M.Sc. Agricultural Statistics">M.Sc. Agricultural Statistics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agricultural Botany" name="sub_category" value="M.Sc. Agricultural Botany" />
       <label for="M.Sc. Agricultural Botany">M.Sc. Agricultural Botany</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agriculture Chemistry & Soil Science" name="sub_category" value="M.Sc. Agriculture Chemistry & Soil Science" />
       <label for="M.Sc. Agriculture Chemistry & Soil Science">M.Sc. Agriculture Chemistry & Soil Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agroforestry" name="sub_category" value="M.Sc. Agroforestry" />
       <label for="M.Sc. Agroforestry">M.Sc. Agroforestry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Agronomy" name="sub_category" value="M.Sc. Agronomy" />
       <label for="M.Sc. Agronomy">	M.Sc. Agronomy</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Airlines, Tourism & Hospitality Management" name="sub_category" value="M.Sc. Airlines, Tourism & Hospitality Management" />
       <label for="M.Sc. Airlines, Tourism & Hospitality Management">M.Sc. Airlines, Tourism & Hospitality Management</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Anatomy" name="sub_category" value="M.Sc. Anatomy" />
       <label for="M.Sc. Anatomy">M.Sc. Anatomy</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Anthropology" name="sub_category" value="M.Sc. Anthropology" />
       <label for="M.Sc. Anthropology">M.Sc. Anthropology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Apparel and Textiles" name="sub_category" value="M.Sc. Apparel and Textiles" />
       <label for="M.Sc. Apparel and Textiles">M.Sc. Apparel and Textiles</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applications of Mathematics" name="sub_category" value="M.Sc. Applications of Mathematics" />
       <label for="M.Sc. Applications of Mathematics">M.Sc. Applications of Mathematics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Biology" name="sub_category" value="M.Sc. Applied Biology" />
       <label for="M.Sc. Applied Biology">M.Sc. Applied Biology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Chemistry" name="sub_category" value="M.Sc. Applied Chemistry" />
       <label for="M.Sc. Applied Chemistry">M.Sc. Applied Chemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Economics" name="sub_category" value="M.Sc. Applied Economics" />
       <label for="M.Sc. Applied Economics">M.Sc. Applied Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Electronics" name="sub_category" value="M.Sc. Applied Electronics" />
       <label for="M.Sc. Applied Electronics">M.Sc. Applied Electronics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Genetics" name="sub_category" value="M.Sc. Applied Genetics" />
       <label for="M.Sc. Applied Genetics">M.Sc. Applied Genetics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Geography" name="sub_category" value="M.Sc. Applied Geography" />
       <label for="M.Sc. Applied Geography">M.Sc. Applied Geography</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Geology" name="sub_category" value="M.Sc. Applied Geology" />
       <label for="M.Sc. Applied Geology">M.Sc. Applied Geology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Mathematics and Computing" name="sub_category" value="M.Sc. Applied Mathematics and Computing" />
       <label for="M.Sc. Applied Mathematics and Computing">M.Sc. Applied Mathematics and Computing</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Mathematics" name="sub_category" value="M.Sc. Applied Mathematics" />
       <label for="M.Sc. Applied Mathematics">M.Sc. Applied Mathematics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Physics" name="sub_category" value="M.Sc. Applied Physics" />
       <label for="M.Sc. Applied Physics">M.Sc. Applied Physics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Psychology" name="sub_category" value="M.Sc. Applied Psychology" />
       <label for="M.Sc. Applied Psychology">M.Sc. Applied Psychology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Applied Zoology" name="sub_category" value="M.Sc. Applied Zoology" />
       <label for="M.Sc. Applied Zoology">M.Sc. Applied Zoology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Astronomy" name="sub_category" value="M.Sc. Astronomy" />
       <label for="M.Sc. Astronomy">M.Sc. Astronomy</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Astrophysics" name="sub_category" value="M.Sc. Astrophysics" />
       <label for="M.Sc. Astrophysics">M.Sc. Astrophysics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Biochemistry" name="sub_category" value="M.Sc. Biochemistry" />
       <label for="M.Sc. Biochemistry">M.Sc. Biochemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Biological Sciences" name="sub_category" value="M.Sc. Biological Sciences" />
       <label for="M.Sc. Biological Sciences">M.Sc. Biological Sciences</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Biology" name="sub_category" value="M.Sc. Biology" />
       <label for="M.Sc. Biology">M.Sc. Biology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Biomedical Science" name="sub_category" value="M.Sc. Biomedical Science" />
       <label for="M.Sc. Biomedical Science">M.Sc. Biomedical Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Botany" name="sub_category" value="M.Sc. Botany" />
       <label for="M.Sc. Botany">M.Sc. Botany</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Chemistry" name="sub_category" value="M.Sc. Chemistry" />
       <label for="M.Sc. Chemistry">M.Sc. Chemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Clinical Microbiology" name="sub_category" value="M.Sc. Clinical Microbiology" />
       <label for="M.Sc. Clinical Microbiology">M.Sc. Clinical Microbiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Clinical Psychology" name="sub_category" value="M.Sc. Clinical Psychology" />
       <label for="M.Sc. Clinical Psychology">M.Sc. Clinical Psychology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Communication" name="sub_category" value="M.Sc. Communication" />
       <label for="M.Sc. Communication">M.Sc. Communication</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Computational Biology" name="sub_category" value="M.Sc. Computational Biology" />
       <label for="M.Sc. Computational Biology">M.Sc. Computational Biology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Computer Applications" name="sub_category" value="M.Sc. Computer Applications" />
       <label for="M.Sc. Computer Applications">M.Sc. Computer Applications</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Computer Science" name="sub_category" value="M.Sc. Computer Science" />
       <label for="M.Sc. Computer Science">M.Sc. Computer Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Computer Technology" name="sub_category" value="M.Sc. Computer Technology" />
       <label for="M.Sc. Computer Technology">M.Sc. Computer Technology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Conservation Biology" name="sub_category" value="M.Sc. Conservation Biology" />
       <label for="M.Sc. Conservation Biology">M.Sc. Conservation Biology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Criminology & Criminal Justice" name="sub_category" value="M.Sc. Criminology & Criminal Justice" />
       <label for="M.Sc. Criminology & Criminal Justice">M.Sc. Criminology & Criminal Justice</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Data Mining and Warehousing" name="sub_category" value="M.Sc. Data Mining and Warehousing" />
       <label for="M.Sc. Data Mining and Warehousing">M.Sc. Data Mining and Warehousing</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Economics" name="sub_category" value="M.Sc. Economics" />
       <label for="M.Sc. Economics">M.Sc. Economics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Electronic Media" name="sub_category" value="M.Sc. Electronic Media" />
       <label for="M.Sc. Electronic Media">M.Sc. Electronic Media</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Electronics & Communication" name="sub_category" value="M.Sc. Electronics & Communication" />
       <label for="M.Sc. Electronics & Communication">M.Sc. Electronics & Communication</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Electronics and Instrumentation" name="sub_category" value="M.Sc. Electronics and Instrumentation" />
       <label for="M.Sc. Electronics and Instrumentation">M.Sc. Electronics and Instrumentation</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="M.Sc. Electronics and Telecommunications" />
       <label for="M.Sc. Electronics and Telecommunications">M.Sc. Electronics and Telecommunications</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Electronics" name="sub_category" value="M.Sc. Electronics" />
       <label for="M.Sc. Electronics">M.Sc. Electronics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Engineering Physics" name="sub_category" value="M.Sc. Engineering Physics" />
       <label for="M.Sc. Engineering Physics">M.Sc. Engineering Physics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Entrepreneurship" name="sub_category" value="M.Sc. Entrepreneurship" />
       <label for="M.Sc. Entrepreneurship">M.Sc. Entrepreneurship</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Environmental Management" name="sub_category" value="M.Sc. Environmental Management" />
       <label for="M.Sc. Environmental Management">M.Sc. Environmental Management</label>
     </div>
    
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Environmental Science" name="sub_category" value="M.Sc. Environmental Science" />
       <label for="M.Sc. Environmental Science">M.Sc. Environmental Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="	M.Sc. Fashion & Textile Merchandising" name="sub_category" value="M.Sc. Fashion & Textile Merchandising" />
       <label for="M.Sc. Fashion & Textile Merchandising">M.Sc. Fashion & Textile Merchandising</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Fashion Designing" name="sub_category" value="M.Sc. Fashion Designing" />
       <label for="M.Sc. Fashion Designing">M.Sc. Fashion Designing</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Fermentation & Microbial Technology" name="sub_category" value="M.Sc. Fermentation & Microbial Technology" />
       <label for="M.Sc. Fermentation & Microbial Technology">M.Sc. Fermentation & Microbial Technology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="	M.Sc. Financial Computing" name="sub_category" value="M.Sc. Financial Computing" />
       <label for="M.Sc. Financial Computing">M.Sc. Financial Computing</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Financial Mathematics" name="sub_category" value="M.Sc. Financial Mathematics" />
       <label for="M.Sc. Financial Mathematics">M.Sc. Financial Mathematics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Forensic Sciences" name="sub_category" value="M.Sc. Forensic Sciences" />
       <label for="M.Sc. Forensic Sciences">M.Sc. Forensic Sciences</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Genetics Engineering" name="sub_category" value="M.Sc. Genetics Engineering" />
       <label for="M.Sc. Genetics Engineering">M.Sc. Genetics Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Geography" name="sub_category" value="M.Sc. Geography" />
       <label for="M.Sc. Geography">M.Sc. Geography</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Geology" name="sub_category" value="M.Sc. Geology" />
       <label for="M.Sc. Geology">M.Sc. Geology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Biochemistry" name="sub_category" value="M.Sc. (Hons.) in Biochemistry" />
       <label for="M.Sc. (Hons.) in Biochemistry">M.Sc. (Hons.) in Biochemistry</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Botany" name="sub_category" value="M.Sc. (Hons.) in Botany" />
       <label for="M.Sc. (Hons.) in Botany">M.Sc. (Hons.) in Botany</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="M.Sc. (Hons.) in Botany" />
       <label for="M.Sc. (Hons.) in Botany">M.Sc. (Hons.) in Botany</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Computer Science" name="sub_category" value="M.Sc. (Hons.) in Computer Science" />
       <label for="M.Sc. (Hons.) in Computer Science">M.Sc. (Hons.) in Computer Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Mathematics" name="sub_category" value="M.Sc. (Hons.) in Mathematics" />
       <label for="M.Sc. (Hons.) in Mathematics">M.Sc. (Hons.) in Mathematics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Microbiology" name="sub_category" value="M.Sc. (Hons.) in Microbiology" />
       <label for="M.Sc. (Hons.) in Microbiology">M.Sc. (Hons.) in Microbiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Physics" name="sub_category" value="M.Sc. (Hons.) in Physics" />
       <label for="M.Sc. (Hons.) in Physics">M.Sc. (Hons.) in Physics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. (Hons.) in Zoology" name="sub_category" value="M.Sc. (Hons.) in Zoology" />
       <label for="M.Sc. (Hons.) in Zoology">M.Sc. (Hons.) in Zoology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Hotel Management" name="sub_category" value="M.Sc. Hotel Management" />
       <label for="M.Sc. Hotel Management">M.Sc. Hotel Management</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Human Physiology" name="sub_category" value="M.Sc. Human Physiology" />
       <label for="M.Sc. Human Physiology">M.Sc. Human Physiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Life Science" name="sub_category" value="M.Sc. Life Science" />
       <label for="M.Sc. Life Science">M.Sc. Life Science</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Mass Communication" name="sub_category" value="M.Sc. Mass Communication" />
       <label for="M.Sc. Mass Communication">M.Sc. Mass Communication</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Mass Communication" name="sub_category" value="M.Sc. Mass Communication" />
       <label for="M.Sc. Mass Communication">M.Sc. Mass Communication</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Mathematics and Computing" name="sub_category" value="M.Sc. Mathematics and Computing" />
       <label for="M.Sc. Mathematics and Computing">M.Sc. Mathematics and Computing</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="" name="sub_category" value="M.Sc. Mathematics" />
       <label for="M.Sc. Mathematics">M.Sc. Mathematics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Microbiology" name="sub_category" value="M.Sc. Microbiology" />
       <label for="M.Sc. Microbiology">M.Sc. Microbiology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Pharmacology" name="sub_category" value="M.Sc. Pharmacology" />
       <label for="M.Sc. Pharmacology">M.Sc. Pharmacology</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="	M.Sc. Physics" name="sub_category" value="M.Sc. Physics" />
       <label for="M.Sc. Physics">M.Sc. Physics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Software Engineering" name="sub_category" value="M.Sc. Software Engineering" />
       <label for="M.Sc. Software Engineering">M.Sc. Software Engineering</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Statistics" name="sub_category" value="M.Sc. Statistics" />
       <label for="M.Sc. Statistics">M.Sc. Statistics</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="M.Sc. Zoology" name="sub_category" value="M.Sc. Zoology" />
       <label for="M.Sc. Zoology">M.Sc. Zoology</label>
     </div>
     
    
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select Course Name
   </div>
   <div class="search-box">
     <input type="text" placeholder="search course name.." />
   </div>
</div>