
<div id="primary" class="select-box  sub-select">
   <div class="options-container">
     <div class="option">
       <input type="radio" class="radio" id="1st Class" name="sub_category" value="1st Class" />
       <label for="1st Class">1st Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="2nd Class" name="sub_category" value="2nd Class" />
       <label for="2nd Class">2nd Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="3rd Class" name="sub_category" value="3rd Class" />
       <label for="3rd Class">3rd Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="4th Class" name="sub_category" value="4th Class" />
       <label for="4th Class">4th Class</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="5th Class" name="sub_category" value="5th Class" />
       <label for="5th Class">5th Class</label>
     </div>
     
    
   </div>
   <div class="selected-upt sub-category-selected-upt">
     Select Primary Class
   </div>
   <div class="search-box">
     <input type="text" placeholder="search class..." />
   </div>
</div>