<!-- https://www.jagranjosh.com/articles/du-admission-top-courses-and-programmes-at-delhi-university-1549973798-1-->
<div id="book-categories" class="select-box">
   <div class="options-container">
     
    <div class="option">
       <input type="radio" class="radio" id="pre-primary-stage" name="category" value="Pre-primary" required/>
       <label for="pre-primary-stage">Pre-primary</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="primary-stage" name="category" value="Primary" required/>
       <label for="primary-stage">Primary</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="secondary-stage" name="category" value="Secondary" required/>
       <label for="secondary-stage">Secondary</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="ba" name="category" value="Bachelor of Arts (BA)" required/>
       <label for="ba">Bachelor of Arts (BA)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="bsc" name="category" value="Bachelor of Science (B.Sc)" required/>
       <label for="bsc">Bachelor of Science (B.Sc)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelor of Commerce (B.Com)" name="category" value="Bachelor of Commerce (B.Com)" required/>
       <label for="Bachelor of Commerce (B.Com)">Bachelor of Commerce (B.Com)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelors of Business Administration (BBA)" name="category" value="Bachelors of Business Administration (BBA)" required/>
       <label for="Bachelors of Business Administration (BBA)">Bachelors of Business Administration (BBA)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelors of Computer Application (BCA)" name="category" value="Bachelors of Computer Application (BCA)" required/>
       <label for="Bachelors of Computer Application (BCA)">Bachelors of Computer Application (BCA)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Bachelors of Computer Application (BCA)" name="category" value="Bachelor of Education (B.Ed)" required/>
       <label for="Bachelor of Education (B.Ed)">Bachelor of Education (B.Ed)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="btech" name="category" value="Bachelor of Technology (B.Tech)" required/>
       <label for="Bachelor of Technology (B.Tech)">Bachelor of Technology (B.Tech)</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="Post Graduation" name="category" value="Post Graduation or Master Degree" required/>
       <label for="Post Graduation">Post Graduation or Master Degree</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="competetive" name="category" value="Competetive Exams" required/>
       <label for="competetive">Competetive Exams</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="diploma-course" name="category" value="Diploma" required/>
       <label for="diploma-course">Diploma</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="novel_fiction" name="category" value="Novel or Fiction" required/>
       <label for="novel_fiction">Novel or Fiction</label>
     </div>
     <div class="option">
       <input type="radio" class="radio" id="others-books" name="category" value="Others" required/>
       <label for="others-books">Others</label>
     </div>
     
   </div>
   <div class="selected">
     Select Book Category
   </div>
   <div class="search-box">
     <input type="text" placeholder="search category..." />
   </div>
</div>